<nav class=" flex justify-between text-white bg-green-custom pb-5"
    x-data="{ open: false }" @keydown.escape="open = false">
    <div class="md:hidden mt-5 ml-5">
        <a href="/">
            <img class="w-16" src="{{ 'group-white.png' | asset_img_url: '80x80' }}" alt="{{ shop.name }}" />
        </a>
        <button class="text-white w-10 h-10 relative focus:outline-none" @click="open = !open">
            <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                <span aria-hidden="true"
                    class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                    :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                <span aria-hidden="true"
                    class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out"
                    :class="{'opacity-0': open } "></span>
                <span aria-hidden="true"
                    class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                    :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
        </button>        
    </div>
    <ul
        class="hidden md:grid py-5 ml-10 justify-between uppercase font-semibold text-xl gap-2 md:grid-cols-5 md:gap-10 xl:text-2xl"
        :class="{ 'block shadow-3xl': open, 'hidden': !open }">
        <div class="hidden md:block">
            <a href="/">
                <img src="{{ 'group-white.png' | asset_img_url: '80x80' }}" alt="{{ shop.name }}" />
            </a>
        </div>
        {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <li class="pt-5">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% for childlink in linklists[child_list_handle].links %}
        <li>
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        </li>
        {% endfor %}
        {% else %}
        <li class="pt-5">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>


    <ul class="flex py-5 justify-between uppercase font-semibold text-xl">
        <li class="mr-6 pt-5">
            <a href="/cart" class="flex items-center">
                <img class="w-7 transform hover:scale-110 duration-300 ease-in-out"
                    src="{{ 'cart.png' | asset_img_url: '100x100' }}" alt="{{ shop.name }}" />
                {% if cart.items.size %}
                    <span class="border-4 font-crimson text-sm font-bold relative bottom-3 right-2 h-6 w-6 rounded-full text-center border-white" id="total_products"></span>
                {% endif %}
            </a>
        </li>
        <form class="hidden lg:block pt-5 text-sm mr-2" action="{{ routes.search_url }}">
            <input class="w-28 text-black outline-none pl-2 py-1" type="text" placeholder="Search" name="q"
                value="{{ search.terms | escape }}">
            <input class="py-1 px-2 text-black " type="submit" value="Search">
        </form>
    </ul>
</nav>

{% if shop.customer_accounts_enabled %}
{% if customer %}
<a href="/account">account</a>
{{ 'log out' | customer_logout_link }}
{% else %}
{{ 'log in ' | customer_login_link }}
{{ 'register' | customer_register_link }}
{% endif %}
{% endif %}