<style>
    .home-slider {
        padding: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }

    .slick-prev {
        left: 0;
        z-index: 1;
    }

    .slick-next {
        right: 0;
        z-index: 1;
    }

    .slick-track {
        display: flex;
    }

    .slick-slide {
        width: 100% !important;
    }

    /* .product-card {
        min-width: 300px;
    } */
</style>
<section class="mx-auto">
    <h2 class="text-center text-2xl pt-10 mb-10 md:text-5xl font-crimson font-bold 2xl:text-5xl">{{
        section.settings.title }}
    </h2>
    <div class="">
        <div class="flex mb-5 col-span-full ">
            <a class="text-right pr-20 text-green-custom w-10/12 mx-auto xl:w-9/12"
                href="{{ section.settings.link_collection }} ">View All
                Catalogue</a>
        </div>
        <div class="home-slider w-full md:w-3/4 mx-auto flex-wrap">
            {% for product in collections[section.settings.featured_collection].products %}
            {% assign image = product.featured_media.preview_image %}
            <div class="flex flex-wrap justify-around mx-2 max-w-xs">
                <div class="px-4 product-card">
                    {% if image != blank %}
                    <a class="my-5" href="{{product.url}} ">
                        <img class="" src="{{ image | product_img_url: '300x300',  crop: 'center' }} "
                            alt=" {{ product.title }} ">
                    </a>

                    {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}

                    {% endif %}
                    <div class="flex flex-col justify-between">
                        <div class="my-5">
                            <h3 class="h-16"><a href="{{product.url}} ">{{product.title }} </a> </h3>
                            <div class="flex flex-col justify-between xl:flex-row xl:justify-between">
                                <p class="font-bold my-5 text-xl">{{product.price | money}} </p>
                                <form method="post" action="/cart/add">
                                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                    <input type="submit" value="Add to cart"
                                        class="mt-5 font-sm py-1 px-2 cursor-pointer bg-button-action text-white transform hover:scale-110 duration-300 ease-in-out" />
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>

</section>
<script lang="javascript">
    const prevArrow = `<svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                        </svg>`
    const nextArrow = `<svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                        </svg>`
    const sliderConfiguration = {
        slidesToShow: 4,
        autoplay: true,
        prevArrow: prevArrow,
        nextArrow: nextArrow
    }
    const sliderSelector = ".home-slider"
    const sliderInitSelector = ".slick-initialized"
    const currentWidth = $(window).width()
    const mobileSize = 1280
    if (currentWidth <= mobileSize) {
        if ($(sliderInitSelector).length) {
            $(sliderSelector).toggleClass("md:flex-nowrap")
            $(sliderSelector).slick("unslick")
        }
    } else {
        $(sliderSelector).slick(sliderConfiguration);
        $(sliderSelector).toggleClass("md:flex-nowrap")
    }
    // Checking on resize
    $(window).resize(function () {
        let width = $(window).width()
        if (width <= mobileSize) {
            if ($(sliderInitSelector).length) {
                $(sliderSelector).slick("unslick")
                $(sliderSelector).toggleClass("md:flex-nowrap")
            }
        } else {
            if ($(sliderInitSelector).length === 0) {
                $(sliderSelector).slick(sliderConfiguration);
                $(sliderSelector).toggleClass("md:flex-nowrap")
            }
        }
    })

</script>
{% schema %}
{
"name":"Featured Collection",
"class":"featured-collection-section",
"settings":[
{
"type":"collection",
"id":"featured_collection",
"label":"Collection"
},
{
"type": "url",
"id": "link_collection",
"label": "Link To Collections"
},
{
"type":"text",
"id":"title",
"default":"Featured Collection",
"label":"Title"
}
],
"presets":[
{
"category":"Collection",
"name":"Featured Collection"
}
]
}
{% endschema %}