<div class="mx-auto">
    <h1 class="font-crimson font-bold text-2xl text-center mb-10 xl:text-5xl">{{ section.settings.title | escape }}</h1>

    <div class="grid sm:w-7/12 xl:w-10/12 mx-auto">
        {%- assign blog = blogs[section.settings.blog] -%}

        {%- if blog.articles_count > 0 -%}
        <ul class="mx-auto w-10/12">

            {%- for article in blog.articles limit: section.settings.post_limit -%}
            <li class="mx-auto xl:w-5/12">
                <a class="mx-auto" href="{{ article.url }}">
                    {%- if article.image -%}
                    {{ article | img_url: '550x550' | img_tag: '' }}
                    {%- endif -%}
                    <h2 class="text-xl font-semibold w-10/12 mx-auto my-5">{{ article.title }}</h2>
                </a>

                {%- if section.settings.blog_show_author -%}
                <span>
                    By {{ article.author }}
                </span>
                {%- endif -%}

                {%- if section.settings.blog_show_date -%}
                <span>
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                </span>
                {%- endif -%}
                
                {%- if article.excerpt.size > 0 -%}
                {{ article.excerpt }}
                {%- else -%}
                <p class="w-10/12 mx-auto">
                   {{ article.content | strip_html | truncate: 150 }} 
                </p>
                
                {%- endif -%}

                {%- if article.tags.size > 0 -%}
                <ul aria-label="{{ 'blogs.article.tags' }}">
                    {%- for tag in article.tags -%}
                    <li>
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}

                <ul>
                    <li class="text-sm mt-2 text-green-custom italic w-10/12 mx-auto">
                        <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
                            Read more...
                        </a>
                    </li>
                    <div class="mt-10 text-green-custom text-right">
                        {%- if section.settings.show_view_all -%}
                        <a href="{{ blog.url }}" class="" aria-label="{{ 'blogs.article.view_all_blogs' }}">
                            {{ 'View All Articles' }}
                        </a>
                        {%- endif -%}
                    </div>

                    {%- if blog.comments_enabled? and article.comments_count > 0 -%}
                    <li>
                        <a href="{{ article.url }}#comments">
                            {{ article.comments_count }} comments
                        </a>
                    </li>
                    {%- endif -%}

                </ul>
            </li>
            {%- endfor -%}

        </ul>
        {%- endif -%}

    </div>

</div>


{% schema %}
{
"name": "Blog posts",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Blog posts"
},
{
"id": "blog",
"type": "blog",
"label": "Blog"
},
{
"type": "range",
"id": "post_limit",
"label": "Posts",
"min": 1,
"max": 12,
"step": 1,
"default": 3
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author",
"default": false
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": true
},
{
"type": "checkbox",
"id": "show_view_all",
"label": "Show 'View all' button",
"default": false
}
],
"presets": [
{
"name": "Blog posts",
"category": "Blog",
"settings": {
"blog": "News",
"post_limit": 3
}
}
]
}
{% endschema %}