<section class="grid sm:grid-cols-2 text-white">

    <div class="p-5 flex justify-between md:pt-5 md:ml-5">
        <div class="flex flex-col justify-between  h-3/4 xl:h-full xl:ml-28">
            <h1 class="text-2xl text-gray-700 pt-5 font-semibold md:text-5xl font-crimson xl:text-5xl z-20">{{ section.settings.title }} </h1>
            <div class="text-xl text-gray-700 xl:text-2xl mt-5">{{ section.settings.description }}</div>
            <button
                class="w-44 mt-5 text-center bg-button-action font-crimson text-left shadow-lg font-semibold py-2 px-4  transform hover:scale-110 duration-700 ease-in-out sm:mt-16 md:mt-20 lg:mt-0 xl:text-xl 2xl:text-2xl">
                <a href="{{ section.settings.button_link }}" class="">{{ section.settings.button_label }}</a>
            </button>

            <div class="hidden xl:flex pb-6 justify-between ">
                <div class="shadow">
                    <a href="{{ section.settings.promo_product1 }}" class="">
                        <img class=""
                            src="{{ section.settings.image_left | product_img_url: '300x300', crop: 'center'  }}"
                            alt="{{ section.settings.image.alt }} ">
                    </a>
                </div>
                <div class="shadow">
                    <a href="{{ section.settings.promo_product2 }}" class="">
                       <img class="" src="{{ section.settings.image_right | product_img_url: '300x300', crop: 'center'  }}"
                        alt="{{ section.settings.image.alt }} "> 
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex-col ml-auto">
        {% for product in collections[section.settings.featured_collection].products %}
        {% assign image = product.featured_media.preview_image %}
        {% endfor %}
        <div class="">
            {% if section.settings.image != blank %}
            <a href="{{ section.settings.promo_main }}" class="">
               <img class="bg-cover mx-auto"
                src="{{ section.settings.image | product_img_url: '700x850', crop: 'center'  }}"
                alt="{{ section.settings.image.alt }} "> 
            </a>
            
            {% else %}
            {% capture current %}{% cycle 1,2 %}{% endcapture %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        

        </div>


    </div>

    {%- comment -%}Image filters
    http://www.codeshopify.com/blog_posts/new-features-for-the-shopify-img_url-filter{%-endcomment -%}


    {%- comment -%}SLIDER HERE https://itchief.ru/examples/lab.php?topic=javascript&file=chief-slider-03{%-endcomment-%}

</section>




{% schema %}
{
"name": "Hero",
"class": "hero-section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Hero Promo Item"
},
{
"type": "image_picker",
"id": "image_left",
"label": "Heading Background Title"
},
{
"type": "image_picker",
"id": "image_right",
"label": "Heading Background Title"
},
{
"type": "text",
"id": "title",
"default": "Example Heading",
"label": "Heading Title"
},
{
"type": "richtext",
"id": "description",
"default": "<p>Example Paragraph</p>",
"label": "Heading Description"
},
{
"type": "text",
"id": "button_label",
"default": "Button",
"label": "Heading Button Label"
},
{
"type": "url",
"id": "button_link",
"label": "Heading Button Link"
},
{
"type": "text",
"id": "custom_label",
"default": "Button",
"label": "Custom Button Label"
},
{
"type": "url",
"id": "custom_link",
"label": "Custom Button Link"
},
{
    "type": "url",
    "id": "promo_main",
    "label": "Promo Main"
    },
{
"type": "url",
"id": "promo_product1",
"label": "Promo 1"
},
{
"type": "url",
"id": "promo_product2",
"label": "Promo 2"
}

],
"presets": [
{
"category": "Hero",
"name":"Simple Hero"
}
]
}
{% endschema %}