<section class="grid sm:grid-cols-2 text-white bg-menu-red-custom">
    <div class="p-5 md:pt-5 md:ml-5">
        <div class="flex flex-col justify-between">
            <h1 class="text-2xl pt-5 font-semibold md:text-5xl font-crimson 2xl:text-7xl">{{ section.settings.title }} </h1>
            <div class="mt-5 text-xl sm:mt-12 md:mt-16 xl:mt-20 2xl:text-2xl">{{ section.settings.description }}</div>
            <button
                class="w-44 mt-5 font-crimson text-left shadow-lg font-semibold bg-white text-menu-red-custom py-2 px-4 border border-white sm:mt-28 md:mt-20 xl:text-xl xl:mt-14 2xl:text-2xl">
                <a href="{{ section.settings.button_link }}" class="">{{ section.settings.button_label }}</a>
            </button>

            <div class="hidden xl:flex justify-between mt-40">
                <div class="shadow">
                    <a href="{{ section.settings.promo_product1 }}" class="">
                        <img class=""
                            src="{{ section.settings.image_left | product_img_url: '300x300', crop: 'center'  }}"
                            alt="{{ section.settings.image.alt }} ">
                    </a>

                </div>
                <div class="shadow">
                    <a href="{{ section.settings.promo_product2 }}" class="">
                       <img class="" src="{{ section.settings.image_right | product_img_url: '300x300', crop: 'center'  }}"
                        alt="{{ section.settings.image.alt }} "> 
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex-col z-10">
        {% for product in collections[section.settings.featured_collection].products %}
        {% assign image = product.featured_media.preview_image %}
        {% endfor %}
        <div class="">
            {% if section.settings.image != blank %}
            <img class="bg-cover mx-auto pt-10 sm:pr-5"
                src="{{ section.settings.image | product_img_url: '700x850', crop: 'center'  }}"
                alt="{{ section.settings.image.alt }} ">
            {% else %}
            {% capture current %}{% cycle 1,2 %}{% endcapture %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <button
                class="w-44 ml-5 font-crimson shadow-lg relative bottom-20 text-left bg-transparent bg-menu-red-custom text-white font-semibold py-2 px-4 border border-menu-red-custom lg:left-1/4 lg:ml-10 lg:text-center xl:text-xl 2xl:ml-28 2xl:text-2xl">
                <a href="{{ section.settings.custom_link }}" class="">{{ section.settings.custom_label }}</a>
            </button>

        </div>


    </div>

    {%- comment -%}Image filters
    http://www.codeshopify.com/blog_posts/new-features-for-the-shopify-img_url-filter{%-endcomment -%}


    {%- comment -%}SLIDER HERE https://itchief.ru/examples/lab.php?topic=javascript&file=chief-slider-03{%-endcomment-%}

</section>




{% schema %}
{
"name": "Hero",
"class": "hero-section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Hero Promo Item"
},
{
"type": "image_picker",
"id": "image_left",
"label": "Heading Background Title"
},
{
"type": "image_picker",
"id": "image_right",
"label": "Heading Background Title"
},
{
"type": "text",
"id": "title",
"default": "Example Heading",
"label": "Heading Title"
},
{
"type": "richtext",
"id": "description",
"default": "<p>Example Paragraph</p>",
"label": "Heading Description"
},
{
"type": "text",
"id": "button_label",
"default": "Button",
"label": "Heading Button Label"
},
{
"type": "url",
"id": "button_link",
"label": "Heading Button Link"
},
{
"type": "text",
"id": "custom_label",
"default": "Button",
"label": "Custom Button Label"
},
{
"type": "url",
"id": "custom_link",
"label": "Custom Button Link"
},
{
"type": "font_picker",
"id": "heading_font",
"label": "Heading font",
"default": "helvetica_n4"
},
{
"type": "url",
"id": "promo_product1",
"label": "Promo 1"
},
{
"type": "url",
"id": "promo_product2",
"label": "Promo 2"
}

],
"presets": [
{
"category": "Hero",
"name":"Simple Hero"
}
]
}
{% endschema %}