{% if cart.item_count > 0 %}

<div class="w-7/12 mx-auto mt-10">
  <form action="/cart" method="POST" novalidate>
    <div class="flex justify-between">
      <div class="">
        <table>
          <thead class="border-b-2 border-menu-red-custom text-xl">
            <th colspan="2" class="pb-10"></th>
            <th class="pb-10"></th>
            <th class="pb-10"></th>
            <th class="pb-10"></th>
          </thead>
          <tbody>
            {% for item in cart.items %}
            <tr class="border-b-2 border-menu-red-custom bg-gray-50 shadow">
              <td class="p-5">
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: '150x150', crop: 'center' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td class=" text-left w-80">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
                <p class="font-semibold mt-2">{{ item.variant.title }}</p> 

              </td>
              <td class="px-5 text-menu-red-custom">{{ item.price | money }}</td>
              <td>
                <input class="border w-12 mx-5 p-2 text-center" type="number" name="updates[]"
                  id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              </td>
              <td class="text-xl font-bold">
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </td>
              <td>
                <a class="px-3 text-xs text-menu-red-custom font-bold uppercase underline"
                  href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-10 h-64 border-2 border-menu-red-custom shadow px-10 pt-10">
        <h2 class="uppercase mb-5 text-xl">Order Summary</h2>
        <p class="font-semibold">sub total : {{ cart.total_price | money }}</p>
        <button class="mt-10 text-xl uppercase bg-menu-red-custom text-white font-bold px-7 py-2" type="submit"
          name="checkout">Checkout</button>
          
      </div>
    </div>
    <div class="flex w-9/12 justify-between mt-10">
      <div class="">
        <h2 class="text-menu-red-custom"><a href="/collections/all" title="Continue shopping">Continue shopping</a> </h2>
      </div>
      <div class=" text-right">
        <h2 class="uppercase font-semibold text-2xl text-menu-red-custom">Order total: {{ cart.total_price | money }}</h2>
        <button class="mt-7 text-xl uppercase bg-menu-red-custom text-white font-bold px-7 py-2" type="submit"
            name="checkout">Checkout</button>
    </div>
    </div>
    
  </form>
</div>
{% else %}
<div class="text-center">
  <h2 class="mt-10 text-2xl font-bold">Cart</h2>
  <p class="mt-10">Cart is empty</p>
  <h2 class="text-menu-red-custom mt-10 border-2 border-menu-red-custom w-40 mx-auto py-2"><a href="/collections/all" title="Continue shopping">Continue shopping</a> </h2>
</div>



{% endif %}